.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #f8dfff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
  }