.expense-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: rgb(59, 58, 58);
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 15px;
  }

  .expense-container .default{
    color:  #fff;
    font-size: 1.5rem;
  }
  
